<ion-header>
  <ion-toolbar>
    <ion-title>Location Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="globals.close_modal()" class="button button-clear">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="location-detail">
    <img [src]="location.image">
    <h2 [innerHTML]="location.fullname" class="ion-padding"></h2>
    <div class="ion-padding-horizontal">
      <ion-text>{{ location.address }}</ion-text>
    </div>
    <div class="ion-padding-horizontal">
      <ion-text>{{ location.citystatezip }}</ion-text>
    </div>
    <p class="ion-padding-horizontal">
      <ion-text>
        <a href="tel:{{ location.phone }}">{{ location.phone }}</a> &bull; <a href="mailto:{{ location.email }}">{{ location.email }}</a>
      </ion-text>
    </p>
    <div *ngIf="location.hoursnote" class="ion-padding-horizontal">
      <ion-text>
        <strong>{{ location.hoursnote }}</strong>
      </ion-text>
    </div>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size="5">Sunday</ion-col>
        <ion-col size="7">{{ location.sunday }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Monday</ion-col>
        <ion-col size="7">{{ location.monday }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Tuesday</ion-col>
        <ion-col size="7">{{ location.tuesday }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Wednesday</ion-col>
        <ion-col size="7">{{ location.wednesday }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Thursday</ion-col>
        <ion-col size="7">{{ location.thursday }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Friday</ion-col>
        <ion-col size="7">{{ location.friday }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Saturday</ion-col>
        <ion-col size="7">{{ location.saturday }}</ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
