<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="globals.api_loading" type="indeterminate"></ion-progress-bar>
    <ion-title>Password Reset</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="end"><ion-icon name="person-circle"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="request_sent == false">
    <p>Use this form to request that your library account password be reset. After you submit this request, we will email you a link that will allow you to set a new password for your account.</p>
    <p><strong>If you do not have an email address linked to your library account, you will not receive a password reset email and will need to visit the library to reset your password.</strong></p>
    <form (submit)="reset_password()">
    <ion-item margin-bottom>
      <ion-label position="stacked">Please enter your {{ globals.reset_card_label }}</ion-label>
      <ion-input [(ngModel)]="reset_name" [placeholder]="globals.reset_card_label" debounce="10" name="reset_name"></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary" type="submit" (click)="reset_password()" margin-bottom>Reset Password</ion-button>
    <ion-button expand="full" color="danger" routerDirection="root" routerLink="/home">Cancel</ion-button>
    </form>
  </div>
  <div *ngIf="request_sent == true">
    <p>Password reset request for user <strong>{{ reset_name }}</strong> has been submitted. Please check your email and follow the link we sent in order to complete the password reset process. Thank you!</p>
    <ion-button expand="full" color="primary" routerDirection="root" routerLink="/home">Done</ion-button>
  </div>
</ion-content>