<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="globals.api_loading" type="indeterminate"></ion-progress-bar>
    <ion-title>Holds</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="end"><ion-icon name="person-circle"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh_holds($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="user.holds.length > 0">
    <ion-item-divider>
      <ion-label>{{ user.holds.length }} Items</ion-label>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let hold of this.user.holds">
      <ion-item-options side="end">
        <ion-item-option color="secondary" *ngIf="hold.hold_status == 'Suspended'" (click)="user.manage_hold(hold, 'activate')">Activate</ion-item-option>
        <ion-item-option color="secondary" *ngIf="hold.hold_status != 'Suspended' && !hold.queue_status.startsWith('Ready')" (click)="user.manage_hold(hold, 'suspend')">Suspend</ion-item-option>
        <ion-item-option (click)="details(hold)">Details</ion-item-option>
        <ion-item-option color="danger" (click)="user.cancel_hold(hold)">Cancel</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img [src]="globals.catalog_covers_medium + hold.id" (click)="details(hold)"></ion-img>
        </ion-thumbnail>
        <ion-label (click)="details(hold)">
          <h2><ion-text [innerHTML]="hold.title_display"></ion-text></h2>
          <ion-text>
            <p *ngIf="hold.author_brief" [innerHTML]="hold.author_brief"></p>
            <p *ngIf="hold.hold_status != ''">Position {{ hold.queue_state[0] }} in queue with {{ hold.queue_state[1] }} eligible cop<span *ngIf="hold.queue_state[1] > 1 || hold.queue_state[1] == 0">ies</span><span *ngIf="hold.queue_state[1] == 1">y</span></p>
            <p *ngIf="globals.multi_location == true">Pickup location: {{ hold.pickup_location }}</p>
            <p *ngIf="hold.hold_status != ''">Status:
              <span *ngIf="hold.hold_status == 'Suspended'"><ion-text color="danger">{{ hold.hold_status }}</ion-text></span>
              <span *ngIf="hold.hold_status == 'Active'"><ion-text color="success">{{ hold.hold_status }}<span *ngIf="hold.queue_status != ''"> - <ion-text color="primary">{{ hold.queue_status }}</ion-text></span></ion-text></span>
            </p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </div>
  <div *ngIf="user.holds.length == 0 && user.holds_count != 0">
    <p margin>Holds are loading. One moment...</p>
  </div>
  <div *ngIf="user.holds_count == 0">
    <p margin>You have no items on hold.</p>
  </div>

</ion-content>
