<ion-header>
  <ion-toolbar>
    <ion-title>News Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="globals.close_modal()" class="button button-clear">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col size="12">
        <h2 text-center [innerHTML]="news.title.rendered" class="ion-margin-horizontal ion-text-center"></h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <img *ngIf="news.featured_image_urls.thumbnail" [src]="news.featured_image_urls.thumbnail" class="ion-float-left" style="width:100%;margin:0 8px 5px 0;">
        <div [innerHTML]="globals.replacebreaks(news.content.text)" class="ion-padding-horizontal"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" (click)="globals.open_page(news.post_url)">View full details</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
