<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="globals.api_loading" type="indeterminate"></ion-progress-bar>
    <ion-title>TADL News</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="end"><ion-icon name="person-circle"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">TADL News</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <div *ngIf="!this.news" class="ion-text-center">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="megaphone" class="heading"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>Loading News...</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-list *ngIf="this.news">
      <ion-item *ngFor="let post of this.news" (click)="this.globals.open_page(post.featured_image_urls.thumbnail)" detail="true">
        <ion-thumbnail slot="start">
          <ion-img *ngIf="post.featured_image_urls.thumbnail" [src]="post.featured_image_urls.thumbnail"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <ion-text>
            <h2 [innerHTML]="post.title.rendered"></h2>
          </ion-text>
          <ion-text>
            <p [innerHTML]="post.excerpt.rendered"></p>
          </ion-text>
          <ion-text color="medium">
            <p>Posted {{ globals.format_date(post.date, 'news') }}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
