<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="globals.api_loading" type="indeterminate"></ion-progress-bar>
    <ion-title>TADL Mobile</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="end"><ion-icon name="person-circle"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="user.logged_in == true">
      <ion-col size="12" margin-top>
        <img *ngIf="!globals.system_color.matches" [src]="globals.square_logo_url" class="logo-auth">
        <img *ngIf="globals.system_color.matches" [src]="globals.square_logo_url_dark" class="logo-auth">
        <h5 *ngIf="user.full_name" class="user-greeting">Logged in as {{ user.username }}</h5>
        <p *ngIf="user.checkout_count > 0 || user.holds_count > 0 || user.fines_exist == true" text-wrap class="user-details">
          You have<span *ngIf="user.checkout_count > 0"> {{ user.checkout_count }} item<span *ngIf="user.checkout_count != 1">s</span> checked out<span *ngIf="user.overdue > 0"> ({{ user.overdue }} overdue)</span></span><span *ngIf="user.holds_count == 0 && user.fines_exist == false">.</span><span *ngIf="user.checkout_count > 0 && user.holds_count > 0">,</span><span *ngIf="user.holds_count > 0"> {{ user.holds_count }} item<span *ngIf="user.holds_count != 1">s</span> on hold<span *ngIf="user.holds_ready_count > 0"> ({{ user.holds_ready_count }} ready for pickup!)</span><span *ngIf="user.holds_ready_count == 0 && user.fines_exist == false">.</span><span *ngIf="user.fines_exist == true"><span *ngIf="user.checkout_count > 0 || user.holds_count > 0"> and</span> ${{ user.fines_amount }} in fines.</span></span>
        </p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user.logged_in == false">
      <ion-col size="12">
        <p class="ion-text-center">
          <img *ngIf="!globals.system_color.matches" [src]="globals.logo_url" class="logo-noauth">
          <img *ngIf="globals.system_color.matches" [src]="globals.logo_url_dark" class="logo-noauth">
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="searchbox" *ngIf="globals.net_status == 'online'">
      <ion-col size="12" class="searchbox">
        <form action=".">
          <ion-item lines="none" class="searchbox">
            <ion-searchbar (search)="this.search()" [(ngModel)]="this.query" [ngModelOptions]="{standalone: true}" placeholder="Search" debounce="10" class="searchbox-left"></ion-searchbar>
            <ion-button color="primary" size="default" slot="end" expand="full" (click)="this.search()" class="searchbox-right">Go!</ion-button>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user.logged_in && globals.net_status == 'online'">
      <ion-col size="12" *ngIf="user.checkout_count > 0 || user.holds_count > 0 || user.fines_exist == true">
        <ion-item *ngIf="user.checkout_count > 0" color="light" lines="none" detail="false" routerLink="/checkouts" routerDirection="root" class="home-item">
          <ion-label>
            Checkouts
            <span *ngIf="user.overdue > 0">(<ion-text color="danger">{{ user.overdue }} overdue!</ion-text>)</span>
          </ion-label>
          <ion-badge slot="end" color="dark">{{ user.checkout_count }}</ion-badge>
        </ion-item>
        <ion-item *ngIf="user.holds_count > 0" color="light" lines="none" detail="false" routerLink="/holds" routerDirection="root" class="home-item">
          <ion-label>
            Holds
            <span *ngIf="user.holds_ready_count > 0">({{ user.holds_ready_count }} ready for pickup!)</span>
          </ion-label>
          <ion-badge slot="end" color="dark">{{ user.holds_count }}</ion-badge>
        </ion-item>
        <ion-item *ngIf="user.fines_exist" color="light" lines="none" detail="false" routerLink="/fines" routerDirection="root" class="home-item">
          <ion-label>Fines and Fees</ion-label>
          <ion-badge slot="end" color="danger">${{ user.fines_amount }}</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="globals.net_status == 'online'">
      <ion-col size="6">
        <ion-list>
          <ion-button routerDirection="root" routerLink="/search" expand="full">
            <ion-icon slot="start" name="search"></ion-icon>
            <ion-label>Search</ion-label>
          </ion-button>
          <ion-button routerDirection="root" routerLink="/locations" expand="full">
            <ion-icon slot="start" name="compass"></ion-icon>
            <ion-label>Locations</ion-label>
          </ion-button>
          <ion-button (click)="globals.open_account_menu()" detail="true" expand="full">
            <ion-icon slot="start" name="id-card"></ion-icon>
            <ion-label>Account</ion-label>
          </ion-button>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-button routerDirection="root" routerLink="/events" expand="full">
            <ion-icon slot="start" name="calendar"></ion-icon>
            <ion-label>Events</ion-label>
          </ion-button>
          <ion-button routerDirection="root" routerLink="/news" expand="full">
            <ion-icon slot="start" name="megaphone"></ion-icon>
            <ion-label>News</ion-label>
          </ion-button>
          <ion-button routerDirection="root" routerLink="/featured" expand="full">
            <ion-icon slot="start" name="star"></ion-icon>
            <ion-label>Featured</ion-label>
          </ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="globals.net_status == 'offline'">
      <ion-col size="2" class="ion-no-padding">
        <ion-button color="clear" class="ion-no-margin">
          <ion-icon slot="icon-only" name="cloud-offline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="10">
        <h2 class="ion-no-margin">Offline</h2>
        <p class="ion-no-margin">
          No data or wifi connection is detected. This app has limited functionality without network access.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
