.logo-noauth {
  width: 60%;
  max-width: 400px;
}
.logo-auth {
  width: 20%;
  float: left;
  margin-right: 16px;
}
.user-greeting {
  margin: 0px 0px 4px 0px;
  padding: 0;
}
.user-details {
  margin: 4px 0px 0px 4px;
  padding: 0;
}
.searchbox {
  margin: 0px;
  padding: 0px;
}
.searchbox-left {
  margin: 0px;
  padding: 0px;
  margin-right: 8px;
}
.searchbox-right {
  margin: 0px;
  padding: 0px;
}
.home-item {
  margin-bottom: 5px;
}
