<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="globals.api_loading" type="indeterminate"></ion-progress-bar>
    <ion-title>Checkouts</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="end"><ion-icon name="person-circle"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh_checkouts($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="user.checkouts.length > 0">
    <ion-item-divider>
      <ion-label>{{ user.checkouts.length }} Items</ion-label>
      <ion-button slot="end" *ngIf="user.checkouts.length > 0" (click)="user.renew_all()">Renew All</ion-button>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let checkout of user.checkouts">
      <ion-item-options side="end">
        <ion-item-option (click)="details(checkout)">Details</ion-item-option>
        <ion-item-option *ngIf="checkout.renew_attempts > 0" (click)="user.renew(checkout.checkout_id)" color="secondary">Renew</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img [src]="globals.catalog_covers_medium + checkout.id" (click)="details(checkout)"></ion-img>
        </ion-thumbnail>
        <ion-label (click)="details(checkout)">
          <h2><ion-text color="danger" *ngIf="checkout.overdue">(OVERDUE) </ion-text><ion-text [innerHTML]="checkout.title"></ion-text></h2>
          <ion-text>
            <p *ngIf="checkout.author_brief" [innerHTML]="checkout.author_brief"></p>
            <p>Copy number {{ checkout.barcode }}</p>
            <p>Due {{ checkout.due_date}} ({{checkout.due_words}})</p>
            <p><span *ngIf="checkout.renew_attempts <= 0">No </span><span *ngIf="checkout.renew_attempts > 0">{{ checkout.renew_attempts }} </span>Renewal<span *ngIf="(checkout.renew_attempts > 1) || (checkout.renew_attempts <= 0)">s</span> remaining</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </div>
  <div *ngIf="user.checkouts.length == 0 && user.checkout_count != '0'">
    <p margin>Checkouts are loading. One moment.</p>
  </div>
  <div *ngIf="user.checkout_count == '0'">
    <p margin>You have no items checked out.</p>
  </div>
</ion-content>
